<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="1.1.0.533" targetFramework="net40" />
  <package id="FubuCore" version="1.1.0.255" targetFramework="net40" />
  <package id="FubuLocalization" version="0.9.5.146" targetFramework="net40" />
  <package id="FubuMVC.Core" version="1.1.0.1542" targetFramework="net40" />
  <package id="HtmlTags" version="2.0.0.174" targetFramework="net40" />
  <package id="NSubstitute" version="1.6.1.0" targetFramework="net40" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
  <package id="Should" version="1.1.20" targetFramework="net40" />
</packages>