<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="1.1.0.533" targetFramework="net40" />
  <package id="FubuCore" version="1.1.0.255" targetFramework="net40" />
  <package id="FubuLocalization" version="0.9.5.146" targetFramework="net40" />
  <package id="FubuMVC.Core" version="1.1.0.1542" targetFramework="net40" />
  <package id="FubuMVC.Core.Assets" version="0.9.9.525" targetFramework="net40" />
  <package id="FubuMVC.Core.UI" version="1.0.1.553" targetFramework="net40" />
  <package id="FubuMVC.Core.View" version="1.0.0.534" targetFramework="net40" />
  <package id="FubuMVC.Diagnostics" version="0.9.6.300" targetFramework="net40" />
  <package id="FubuMVC.JQueryUI" version="0.5.0.301" targetFramework="net40" />
  <package id="FubuMVC.Navigation" version="0.9.1.167" targetFramework="net40" />
  <package id="FubuMVC.RegexUrlPolicy" version="1.0.11.0" targetFramework="net40" />
  <package id="FubuMVC.Spark" version="1.0.0.534" targetFramework="net40" />
  <package id="FubuMVC.StructureMap" version="1.1.0.1542" targetFramework="net40" />
  <package id="FubuMVC.TwitterBootstrap" version="0.0.0.633" targetFramework="net40" />
  <package id="HtmlTags" version="2.0.0.174" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Spark" version="1.7.5.1" targetFramework="net40" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net40" />
  <package id="WebActivator" version="1.5.3" targetFramework="net40" />
</packages>