{{^IsClosing}}
    {{^IsDictionaryEntry}}
        {{#IsDictionary}}<span class="badge badge-info">Dictionary</span>{{/IsDictionary}}
        {{#IsArray}}<span class="badge badge-info">Array</span>{{/IsArray}}
        {{#IsSimpleType}}
            <strong><code>{{{TypeName}}}</code></strong>
        {{/IsSimpleType}}
        {{#IsMember}}
            {{#Required}}<span class="badge badge-important">Required</span>{{/Required}}
            {{^Required}}
                <span class="badge badge-success">Optional</span>
                {{#IsSimpleType}}
                    <span class="label label-inverse">Default: {{{DefaultValue}}}</span>
                {{/IsSimpleType}}
            {{/Required}}
        {{/IsMember}}
        {{{Comments}}}
        {{#IsDeprecated}}
            <div class="alert alert-warning deprecated" role="alert">{{{DeprecationMessage}}}</div>
        {{/IsDeprecated}}
        {{#IsEnumeration}}
            <table class="table table-bordered table-zebra enum-options">
                <thead><th>Values</th></thead>
                <tbody>
                    {{#Options}}
                      <tr>
                          <td>
                              <code>{{{OptionValue}}}</code>
                              {{{OptionComments}}}
                          </td>
                      </tr>
                    {{/Options}}
                </tbody>
            </table>
        {{/IsEnumeration}}
    {{/IsDictionaryEntry}}
    {{#IsDictionaryEntry}}
        <div class="panel panel-default">
            <div class="panel-heading {{^KeyIsEnumeration}}empty{{/KeyIsEnumeration}}">
                <span class="label label-default">Key</span>
                <strong><code>{{{KeyTypeName}}}</code></strong>
                {{{KeyComments}}}
            </div>
            {{#KeyIsEnumeration}}
                <table class="table table-bordered table-zebra enum-options">
                    <tbody>
                        {{#KeyOptions}}
                          <tr>
                              <td>
                                  <code>{{{OptionValue}}}</code>
                                  {{{OptionComments}}}
                              </td>
                          </tr>
                        {{/KeyOptions}}
                    </tbody>
                </table>
            {{/KeyIsEnumeration}}
        </div>
        <div class="panel panel-default">
            <div class="panel-heading {{^IsEnumeration}}empty{{/IsEnumeration}}">
                <span class="label label-default">Value</span>
                {{#IsDictionary}}<span class="badge badge-info">Dictionary</span>{{/IsDictionary}}
                {{#IsArray}}<span class="badge badge-info">Array</span>{{/IsArray}}
                {{#IsSimpleType}}
                    <strong><code>{{{TypeName}}}</code></strong>
                {{/IsSimpleType}}
                {{{Comments}}}
            </div>
            {{#IsEnumeration}}
                <table class="table table-bordered table-zebra enum-options">
                    <tbody>
                        {{#Options}}
                          <tr>
                              <td>
                                  <code>{{{OptionValue}}}</code>
                                  {{{OptionComments}}}
                              </td>
                          </tr>
                        {{/Options}}
                    </tbody>
                </table>
            {{/IsEnumeration}}
        </div>
    {{/IsDictionaryEntry}}
{{/IsClosing}}