<span class="code-whitespace">{{Whitespace}}</span>
{{#IsMember}}
    {{^IsClosing}}
        <span style="color: #A31515">"{{Name}}"</span>: 
    {{/IsClosing}}
{{/IsMember}}
{{#IsDictionaryEntry}}
    <span style="color: #A31515;">"<span style="font-style: italic">[{{Name}}]</span>"</span>: 
{{/IsDictionaryEntry}}
{{#IsSimpleType}}
    {{#IsString}}"{{DefaultValue}}"{{/IsString}}
    {{#IsBoolean}}{{DefaultValue}}{{/IsBoolean}}
    {{#IsNumeric}}{{DefaultValue}}{{/IsNumeric}}
    {{#IsDateTime}}"{{DefaultValue}}"{{/IsDateTime}}
    {{#IsDuration}}"{{DefaultValue}}"{{/IsDuration}}
    {{#IsGuid}}"{{DefaultValue}}"{{/IsGuid}}
{{/IsSimpleType}}
{{#IsOpening}}
    {{#IsArray}}[{{/IsArray}}
    {{#IsComplexType}}{ {{/IsComplexType}}
    {{#IsDictionary}}{ {{/IsDictionary}}
{{/IsOpening}}
{{#IsClosing}}
    {{#IsArray}}]{{/IsArray}}
    {{#IsComplexType}}}{{/IsComplexType}}
    {{#IsDictionary}}}{{/IsDictionary}}
{{/IsClosing}}
{{#IsMember}}
    {{^IsOpening}}
        {{^IsLastMember}},{{/IsLastMember}}
    {{/IsOpening}}
{{/IsMember}}