<span class="code-whitespace">{{Whitespace}}</span>
<span style="color: #0000FF">&lt;{{#IsClosing}}/{{/IsClosing}}</span><span style="color: #A31515;{{#IsDictionaryEntry}}font-style: italic{{/IsDictionaryEntry}}">{{#IsDictionaryEntry}}[{{Name}}]{{/IsDictionaryEntry}}{{^IsDictionaryEntry}}{{Name}}{{/IsDictionaryEntry}}</span><span style="color: #0000FF">&gt;</span>
{{#IsSimpleType}}
  {{DefaultValue}}
  <span style="color: #0000FF">&lt;/</span><span style="color: #A31515;{{#IsDictionaryEntry}}font-style: italic{{/IsDictionaryEntry}}">{{#IsDictionaryEntry}}[{{Name}}]{{/IsDictionaryEntry}}{{^IsDictionaryEntry}}{{Name}}{{/IsDictionaryEntry}}</span><span style="color: #0000FF">&gt;</span>
{{/IsSimpleType}}