curl -XPOST \
    -H "Content-Type: application/json" \
    -H "Accept: application/json" \
    -u accountid\\user:pa55Word\! \
    -d '{"json": "here", \
		 "more": "json"}' \
    http://someapiurl.com/path/to/service