/* Page layout */

body {
    padding-top: 80px;
    font-size: 13px;
}

#content {
    min-height: 600px;
}

.footer {
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    background-color: whiteSmoke;
}

/* Bootstrap overrides */

h4 {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

blockquote p {
    font-size: 14px;
    font-style: italic;
}

.sidebar-nav {
    padding: 9px 0;
}

.navbar-inner .container {
    width: 100%;
    padding-left: 10px;
}

.btn {
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    border: 1px solid #bbb;
}

.label {
    font-size: 11.844px;
    font-weight: bold;
    padding: 1px 4px 2px;
}

.label-info, .badge-info {
    background-color: #3a87ad;
}

.label-success, .badge-success {
    background-color: #468847;
}

.label-important, .badge-important {
    background-color: #b94a48;
}

.label-inverse, .badge-inverse{
    background-color:#333
}

.alert-warning {
    color: #533A0E;
    background-color: #F5EBB5;
    border-color: #E2BD71;
}

.code-inline {
    border: 1px solid #e1e1e8;
}

.panel {
    margin-bottom: 10px;
}

.panel:last-child {
    margin-bottom: 0;
}

.panel .empty {
    border-bottom: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.panel .table {
    margin-top: 0;
}

.table {
    background-color: #fff;
    margin-bottom: 0;
}

.table thead th {
    color: #000;
    padding: 4px;
    background-color: #FAFAFA;

    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#E6E6E6));
    background: -moz-linear-gradient(top, white, #E6E6E6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=white, endColorstr=#E6E6E6);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=white, endColorstr=#E6E6E6)";
}

.table thead tr th {
    vertical-align: middle;
    padding: 7px;
    color: #6B6B6B;
}

.table thead tr th:last-child {
    width: 100%;
}

.table-zebra > tbody > tr:nth-child(odd) > td {
    background-color: #F9F9F9;
}

.table-zebra-double > tbody > tr:nth-child(4n+3) {
    background-color: #F9F9F9;
}

.table-zebra-double > tbody > tr:nth-child(4n+4) {
    background-color: #F9F9F9;
}

/* Request/response documentation */

.sample-selector-header {
    min-width: 250px;
}

.sample-selector {
    float: left;
}

.sample-selector .btn {
    padding: 2px 5px;
    min-width: 40px;
}

.sample-copy-hint {
    float: right;
    line-height: 26px;
    color: #8B8B8;
    font-weight: normal;
    padding-right: 5px
}

.show-json, .show-xml {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    color: #D14;
}

.sample-code {
    border: 0;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    cursor: hand;
    cursor: pointer;
    width: 350px;
    max-width: 350px;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sample-code-whitespace {
    white-space: pre;
}

.sample-code-raw-container {
    position: absolute;
}

.sample-code-raw {
    border: 0;
    width: 100%; 
    height: 100%; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

.enum-options {
    margin-top: 10px;
}

.deprecated {
    margin: 10px 0 0 0;
    font-weight: bold;
}

/* Resource/endpoint styles (totally lifted from the Swagger UI, props) */

.resource-divider {
    margin: 20px 0 25px;
}

.endpoint-yellow .endpoint-well {
    background-color: #FAF5EE;
    border-color: #F0E0CA;
}

.endpoint-blue .endpoint-well {
    background-color: #EBF3F9;
    border-color: #C3D9EC;
}

.endpoint-red .endpoint-well {
    background-color: #F7EDED;
    border-color: #E8C6C7;
}

.endpoint-green .endpoint-well {
    background-color: #EBF7F0;
    border-color: #C3E8D1;
}

.endpoint-yellow .highlight-text {
    color: #C5862B;
}

.endpoint-blue .highlight-text {
    color: #0F6AB4;
}

.endpoint-red .highlight-text {
    color: #A41E22;
}

.endpoint-green .highlight-text {
    color: #10A54A;
}

.endpoint-yellow .highlight-background {
    background-color: #C5862B;
}

.endpoint-blue .highlight-background {
    background-color: #0F6AB4;
}

.endpoint-red .highlight-background {
    background-color: #A41E22;
}

.endpoint-green .highlight-background {
    background-color: #10A54A;
}

.endpoint-header {
    margin-top: 20px;
    border-width: 1px;
    border-style: solid;
    cursor: hand;
    cursor: pointer;
}

.endpoint-method {
    text-transform: uppercase;
    color: white;
    font-size: 0.7em;
    width: 50px;
    height: 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

.endpoint-url {
    display: inline-block;
    padding: 3px 0 3px 10px;
    vertical-align: middle;
    font-size: 16px;
    margin: 0;
    max-width: 670px;
}

.endpoint-name {
    float: right;
    margin: 6px 5px 0 0;
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.endpoint-toggle {
    float: right;
    margin: 5px 10px 0 0;
}

.endpoint-body {
    display: none;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    padding: 10px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -o-border-bottom-left-radius: 6px;
    -ms-border-bottom-left-radius: 6px;
    -khtml-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -o-border-bottom-right-radius: 6px;
    -ms-border-bottom-right-radius: 6px;
    -khtml-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0 0 20px 0;
}