<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.9.407" targetFramework="net40" />
  <package id="FubuCore" version="1.0.0.210" targetFramework="net40" />
  <package id="FubuLocalization" version="0.9.5.108" targetFramework="net40" />
  <package id="FubuMVC.Core" version="0.9.9.1289" targetFramework="net40" />
  <package id="FubuMVC.Core.Assets" version="0.9.9.54" targetFramework="net40" />
  <package id="FubuMVC.Core.UI" version="0.9.9.61" targetFramework="net40" />
  <package id="FubuMVC.Core.View" version="0.9.9.56" targetFramework="net40" />
  <package id="FubuMVC.Diagnostics" version="0.1.0.129" targetFramework="net40" />
  <package id="FubuMVC.JQueryUI" version="0.5.0.149" targetFramework="net40" />
  <package id="FubuMVC.Media" version="0.9.5.239" targetFramework="net40" />
  <package id="FubuMVC.Navigation" version="0.9.0.12" targetFramework="net40" />
  <package id="FubuMVC.RegexUrlPolicy" version="1.0.0.17" targetFramework="net40" />
  <package id="FubuMVC.SlickGrid" version="0.0.0.166" targetFramework="net40" />
  <package id="FubuMVC.Spark" version="0.9.9.56" targetFramework="net40" />
  <package id="FubuMVC.StructureMap" version="0.9.9.1289" targetFramework="net40" />
  <package id="FubuMVC.TwitterBootstrap" version="0.0.0.155" targetFramework="net40" />
  <package id="HtmlTags" version="1.2.0.131" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Spark" version="1.7.5.0" targetFramework="net40" />
  <package id="structuremap" version="2.6.4.67" targetFramework="net40" />
  <package id="WebActivator" version="1.5.2" targetFramework="net40" />
</packages>